/*font-family: 'Big Shoulders Stencil Display', cursive;
font-family: 'Indie Flower', cursive;*/

a{
    text-decoration: none;
    margin: 10px; 
    color: black;
}

.container{
    display: flex;
    flex-wrap: wrap;
    width: 100%;

}
.flex{
    display: flex;
}
.flex50{
    width: 50%;
}
.logo{
    width: 70px;
    height: 70px;
    border-radius: 50%;
}
.contacto{
    justify-content: flex-end;
    /*esta linea especifica la altura a la que se coloca el texto o el elemento*/
    line-height: 60px;
}
.icono-menu{
    /*esta linea especifica la altura a la que se coloca el texto o el elemento*/
    line-height: 35px;
    margin: 15px;
    /*esta linea cambia el cursor a la manito*/
    cursor: pointer;
}
.icono-redes{
    font-size: 40px;
    display: inline;
    
}
.icono-redes [class*="icono-"]:before{
    line-height: 55px;
    border-radius: 7em;
    padding: 7px;
    
}
.menu{
    z-index: 500;
    justify-content: space-between;
    width: 100%;
    background: rgba(166, 255, 0, 0.63);
    
}
/*--------------Lista del menu-------------*/
.Lista-menu{
    flex-direction: column;
    position: absolute;
    top: 140px;
    left: 0;
    width: 100%;
    padding: 0;
    margin: 0;
    list-style: none;
    background: #000000b2;
    text-align: center;
    /*estas dos lineas es para desaparecer el menu*/
    height: 0;
    overflow: hidden;
    /*esta linea crea una animacion*/
    transition: 1.2s cubic-bezier(0.2, 4, 0.1756, 1);
}
.seleccionado{
    background-color: white;
    display: block;
    margin: 10px;
    padding: 0;
    /*esta linea coloca una sombra*/
    box-shadow: -2px 2px 3px rgba(166, 255, 0, 0.63);
    font-size: 25px;
}
/*---esta clase se ejecuta con una funcion js*/
.desplegar_menu{
    height: 240px;
}
.itemDelMenu{
    display: block;
    margin: 10px;
    padding: 0;
    background: rgba(166, 255, 0, 0.63);
    /*esta linea coloca una sombra*/
    box-shadow: -2px 2px 3px white;
    font-size: 25px;
    
}
/*----baner-----*/
.baner{
    margin-top: -75px;
    position: relative;
}
.imgBaner{
    width: 100%;
    height: 600px;
    /*esta linea de codigo no permite que se desfigure la imagen*/
    object-fit: cover;
}
.baner:before{
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    background: rgba(0, 0, 0, 0.562);
    z-index: 400;

}
.contenido-baner{
    top: 40%;
    z-index: 450;
    position: absolute;
    text-align: center;
    width: 100%;
}
.titulo{
    font-family: 'Big Shoulders Stencil Display', cursive;
    font-size: 35px;
    padding-top: 20px;
    text-align: center;
    margin: 1em;
    

}




/*--------------footer----------------*/
.flex-33{
    width: 33%;
    display: inline;
    
}
.titulo-footer{
    color: white;
    padding: 1em;
    text-align: center;
    font-size: 18px;
}
.footer{
    margin-top: 4em;
    background: rgba(0, 0, 0, 0.603);
}
.parrafo-footer{
    padding: 1em;
    color: white;
}
.parrafo-footer-icono{
    color: white;
}
.footer [class*="icono-"]:before{
    font-size: 60px;
    line-height: 100px;
}

/*--------------------contenido----------*/
.pregunta{
    padding: 2em;
}
/*font-family: 'Big Shoulders Stencil Display', cursive;
font-family: 'Indie Flower', cursive;*/
.pregunta .titulo-pregunta{
    font-size: 2.5em;
    color: rgb(166, 255, 0);
    font-family: 'Big Shoulders Stencil Display', cursive;
    

}
.barra-buscar{
    
    justify-content: center;

}
.buscar{
    justify-content: center;
}
#buscar{
    display: block;
}
#barra-buscar{
    display: block;
    width: 50%;
    height: 35px;
    border-radius: 9%;
    box-shadow: -5px 5px 10px rgb(166, 255, 0);
}
.parrafo-pregunta{
    text-align: justify;
    font-family: 'Indie Flower', cursive;
}
/*-----------responsive-------------*/

@media(min-width:400px){
    .contacto{
        font-size: 40px;
    }
    .contenido-baner{
        font-size: 30px;
    }
}
@media(min-width:700px){
    .Lista-menu-a{
        font-size: 30px;
    }
    .desplegar_menu{
         height: 300px;
    }
}
@media(min-width: 850px){
    .icono-menu{
        display: none;
    }
    .Lista-menu{
        flex-direction: row;
        padding: 0 7px 0 7px;
        top: auto;
        margin: 0;
        height: 100%;
        overflow: auto;
        position: relative;
        justify-content: space-between;
        width: 75%;
        background: none;
        
    }
    .itemDelMenu{
        background: rgba(166, 255, 0, 0.082);
        margin: 10px;
    }
    .itemDelMenu:hover{
        background: rgb(166, 255, 0);
    }
    .icono-redes{
        flex-grow: 60;
    }
    .seleccionado{
        height: 30px;
        margin: 10px;
        box-shadow: -2px 2px black ;
    }
    .menu{
        
        
    }
    
}